<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias alias="user" type="com.ian.mybatis.test.User"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
				<property name="username" value="root"/>
				<property name="password" value="1234567"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/ian/mybatis/mapper/UserMapper2.xml"/>
		<mapper resource="com/ian/mybatis/mapper/UserMapper.xml"/>
		<mapper resource="com/ian/mybatis/mapper/EmployeeMapper.xml"/>
	</mappers>
</configuration>